.pokemon {
	margin: 10px;
	margin-bottom: 20px;
	background-color: bisque;
	border-radius: 10px;
	max-width: 300px;
	transition: transform 0.3s ease-in-out;
}

/* hover on . pokemon */
.pokemon:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transform: scale(1.05);
}

.pokemon p {
	padding: 20px;
}
